main {
    height: 100vh;
    width: 100vw;
    background-color: #53c794;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .card {
    background-color: #fff;
    width: 500px;
    height: 70%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .card h1 {
    margin-bottom: 32px;
}
main .card input {
    display: block;
    width: 70%;
    margin-top: 16px;
    padding-left: 16px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #b8b8b8
}
main .card button {
    width: 70%;
    margin-top: 16px;
    text-align: center;
    height: 48px;
    border-radius: 6px;
    background-color: #53c794;
    border: 0;
    color: #fff;
    cursor: pointer;
}
main .card a {
    margin-top: 8px;
    width: 70%;
}